body {
  font-family: "Montserrat", sans-serif;
  background: fixed repeat;
  cursor: default;
}
@media screen and (max-width: 768px) {
  body {
    width: 85%;
    margin: auto;
  }
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}

body {
  background-color: #f3f3f3;
}
body .themeButton svg:last-child {
  display: none;
}

.darkmode {
  background-color: #1a1a2c;
  color: white;
}
.darkmode .themeButton {
  background-color: #3c415e;
}
.darkmode .themeButton svg:first-child {
  display: none;
}
.darkmode .themeButton svg:last-child {
  display: block;
}
.darkmode .taskList__task {
  background-color: #677182;
}
.darkmode .taskList__task--done {
  background-color: #438e43;
}
.darkmode .taskList__emptyAllButton {
  background-color: #922626;
  color: rgb(216.75, 216.75, 216.75);
}
.darkmode .addTask__submit {
  background-color: #2a576b;
  color: rgb(178.5, 178.5, 178.5);
}
.darkmode .addTask__textarea {
  background-color: #616e87;
  color: white;
}
.darkmode .addTask__textarea::placeholder {
  color: white;
  opacity: 0.7;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
  }
  header .title {
    width: 100%;
    text-align: center;
    position: static;
    margin-top: 8px;
  }
  header .themeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
header .title {
  text-align: center;
  margin: 0;
  font-size: 3em;
}
header .themeButton {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1.5px black;
}
.addTask__textarea {
  resize: none;
}
@media screen and (max-width: 768px) {
  .addTask__textarea {
    width: 80%;
    font-size: 20px;
  }
}
.addTask__submit {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: #84adea;
}
.addTask__submit:hover {
  cursor: pointer;
}

.taskList {
  width: 80%;
  margin: auto;
  display: grid;
}
.taskList__title {
  position: relative;
  left: 10%;
}
.taskList__taskDate {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  opacity: 0.5;
}
.taskList__task {
  user-select: none;
  border-radius: 30px;
  width: 300px;
  padding: 10px;
  background-color: #c6dce2;
}
.taskList__task--done {
  background-color: #66db82;
}
.taskList__task:hover {
  cursor: pointer;
}
.taskList__removeTaskButton {
  height: 24px;
  width: 24px;
  margin: auto;
  margin-left: 10px;
}
.taskList__removeTaskButton:hover {
  cursor: pointer;
}
.taskList__emptyAllButton {
  position: relative;
  width: 120px;
  justify-self: center;
  border-radius: 30px;
  background-color: #ff5757;
  margin-top: 10px;
  margin-bottom: 5px;
  color: black;
}
@media screen and (max-width: 768px) {
  .taskList {
    justify-content: center;
  }
  .taskList__title, .taskList__emptyAllButton {
    justify-self: auto;
  }
  .taskList__task {
    width: 250px;
  }
  .taskList__removeTaskButton {
    justify-self: center;
  }
}
@media screen and (max-width: 350px) {
  .taskList__task {
    width: 150px;
  }
  .taskList__taskDate {
    text-align: center;
  }
  .taskList__emptyAllButton {
    left: 20%;
  }
  .taskList__removeTaskButton {
    margin-left: auto;
  }
}

.taskContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid 1px #464646;
}
.taskContainer__divTaskIcon {
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 768px) {
  .taskContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 350px) {
  .taskContainer__divTaskIcon {
    flex-flow: column nowrap;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
