@use "../utils/variables" as *;

.taskList{
    width: 50%;

    &__title{
        position: relative;
        left: 13%;
    }

    &__task{
        user-select: none; //empêcher la sélection du texte au double clic sur une tâche
        border-radius: 30px;
        width: 300px;
        padding: 10px;
        background-color: $primaryTaskColor;
    
        &--done{
            background-color: $taskDone;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__removeTaskButton{
        height: 50%;
        margin: auto;
        margin-left: 10px;

        &:hover{
            cursor: pointer;
        }
    }
}

.taskContainer{
    display: flex;
    flex-direction: row;
}