@use "../utils/variables" as *;
@use "sass:map";

.taskList{
    width: 50%;
    margin-left: 100px;

    &__title, &__emptyAllButton{
        position: relative;
        left: 13%;
    }

    &__taskDate{
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
        opacity: 0.5;
    }

    &__task{
        user-select: none; //empêcher la sélection du texte au double clic sur une tâche
        border-radius: 30px;
        width: 300px;
        padding: 10px;
        background-color: $primaryTaskColor;
    
        &--done{
            background-color: $taskDone;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__removeTaskButton{
        height: 50%;
        margin: auto;
        margin-left: 10px;

        &:hover{
            cursor: pointer;
        }
    }

    &__emptyAllButton{
        left: 15%;
        border-radius: 30px;
        background-color: map.get($lightMode, "emptyAllButton-color");
        margin-top: 10px;
    }
}

.taskContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: solid 1px #464646;
}