@use "../utils/variables" as *;
@use "sass:map";

body {
    background-color: map.get($lightMode, "background-color");

    .themeButton svg:last-child {
        display: none;
    }
}

.darkmode {
    background-color: map.get($darkMode, "background-color");
    color: map.get($darkMode, "text-color");

    .themeButton {
        background-color: map.get($darkMode, "themeButton-color");

        svg:first-child{
            display: none;
        }
        svg:last-child{
            display: block;
        }
    }

    .taskList{
        &__task{
            background-color: map.get($darkMode, "task-color");
        
            &--done {
                background-color: map.get($darkMode, "taskDone-color");
            }
        }

        &__emptyAllButton{
            background-color: map.get($darkMode, "emptyAllButton-color");
        }
    }

    .addTask__submit{
        background-color: map.get($darkMode, "addTaskButton-color");
    }
}