//THEMES
$darkMode: (
    "background-color": #1a1a2c, 
    "text-color": white,
    "button-color": black,
    "themeButton-color": #3c415e,
    "task-color": #677182,
    "taskDone-color": #438e43,
    );

$lightMode : (
    "background-color": #f3f3f3,
    "text-color": black,
    );

//TÂCHE
$primaryTaskColor: #c6dce2;
$taskDone: #66db82;
