//THEMES
$darkMode: (
    "background-color": rgb(50, 50, 70), 
    "text-color": white,
    "button-color": black,
    "themeButton-color": rgb(70, 77, 113),
    );

$lightMode : (
    "background-color": rgb(243, 243, 243),
    "text-color": black,
    );

//TÂCHE
$taskDone: #66db82;
