//THEMES
$darkMode: (
    "background-color": #1a1a2c, 
    "text-color": white,
    "button-color": black,
    "themeButton-color": #3c415e,
    "task-color": #677182,
    "taskDone-color": #438e43,
    "addTaskButton-color": #2a576b,
    "emptyAllButton-color": #922626,
    "textareaAdd-color": #616e87,
    );

$lightMode : (
    "background-color": #f3f3f3,
    "text-color": black,
    "addTaskButton-color": #84adea,
    "emptyAllButton-color": #ff5757,
    );

//TÂCHE
$primaryTaskColor: #c6dce2;
$taskDone: #66db82;
