@use "../utils/variables" as *;
@use "sass:map";

.addTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1.5px black;

    &__textarea{
        resize: none;
    }

    &__submit{
        width: 100px;
        height: 30px;
        border-radius: 30px;
        background-color: map.get($lightMode, "addTaskButton-color");

        &:hover{
            cursor: pointer;
        }
    }
}