@use "../utils/mixins" as *;
@use "sass:map";

header{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;

   @include media-max("tablet-up") {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 64px;

      .title{
         width: 100%;
         text-align: center;
         position: static;
         margin-top: 8px;
      }

      .themeButton{
         position: absolute;
         top: 10px;
         right: 10px;
      }
   }

   .title{
      text-align: center;
      margin: 0;
      font-size: 3em;
   }  

   .themeButton {
      position: absolute;
      right: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}